#container {
    width: 1440px;
}
h2 {
    font-family: 'Poller One', cursive;
    width: 500px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 19px;
}

h3 {
    font-family: 'Poller One', cursive;
}

.selected {
    font: 14px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 260px;
}

#navigation {
    margin-top: 50px;
    margin-left: 32%;
}

#logo {
    margin-top: 50px;
    margin-left: 36%;
}

.selected {
    margin-right: 30px;
}

#background {
    background-image: url(./cp1-images/the-beacon.jpg);
    height: 554px;
    color: white;
}

#beacontext {
    display: inline-block;
}

section {
    margin-left: 50%;
    padding-top: 60px;
}

.spans {
    height: 40px;
    margin-top: 20px;
}

.textsize {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37,37,37);
    padding: 10px 20px 10px 20px;

}

#blogLink {
    height: 50px;
    width: 160px;
    background-color: rgb(11,163,156);
    padding-top: 25px;
    margin-top: 20px;
}

#first {
    padding: 28px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

#minigallery {
    display: flex;
    justify-content: center;
}

#mini {
    margin-right: 20px;
    margin-top: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#captions {
    display: flex;
    margin-left: 320px;
    margin-bottom: 40px;
}

#caption2 {
    margin-left: 180px;
}
#caption3 {
    margin-left: 200px;
}

.icons {
    font-size: 25px;
    color: white;
}

.iconBox {
    position: relative;
    width: 35px;
    height:35px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: center;
    margin-top: 6px;
    padding-top: 6px;
    margin-right: 20px;
}


/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: white;
    color: black;
  }

.iconbox:hover  .overlay{
    opacity: 1;
}

.icons:hover {
    color: black;
}*/

#footerIcons {
    display: flex;
    margin-left: 450px;
    margin-top:35px;
}

footer {
    display: flex;
    background-color: rgb(37,37,37);
    height: 120px;
}

#footerText {
    color: white;
    margin-left: 230px;
    margin-top: 50px;
}

a:link {
text-decoration: none;
}

