body {
    background-color: blue;
    margin: 0px;
}

#container {
    width: 1024px;
    height:774px;
    margin: auto;
}

#first {
    background-color: rgb(43,205,192);
    width: 1024px;
    height: 387px;
}

#second {
    background-color: black;
    width: 1024px;
    height: 387px;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
    padding: 170px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div {
    color: white;
}

.titles {
    width: 200px;
    height: 300px;
    text-align: center;
    margin-top: 70px;
    border-top-color: white;
    border-top: 30px;
    border-top-style: solid;
    margin-right: 40px;
    margin-left: 20px;
    padding-top: 0px;
    color: white;
    }

.info {
    margin: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 15px;
}

#left {
    border-color: rgb(51,168,221);
}

#middle {
    border-color: rgb(244,103,49);
}

#right {
    border-color: rgb(40,207,189);
}


@media (max-width: 1024px) {
    body {
        background-color: green;
    }

    #first {
        grid-area: first;
    }

    .titles {
        grid-area: title;
    }

    #container {
        width: 500px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "first"
        "title"
        "title"
        "title"
        
    }
}


